<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396339936456-qa42fhda0lsa16tbgk3ttbaqi3qlbgch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396339936456-qa42fhda0lsa16tbgk3ttbaqi3qlbgch</string>
	<key>API_KEY</key>
	<string>AIzaSyDEVj_GH9kczCz1f6J4NOkNCuZqiL0COaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>396339936456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>talhasahi.Free-Chat</string>
	<key>PROJECT_ID</key>
	<string>free-chat-f81e2</string>
	<key>STORAGE_BUCKET</key>
	<string>free-chat-f81e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396339936456:ios:e8b2cd5863c3e6ac57f9fd</string>
	<key>DATABASE_URL</key>
	<string>https://free-chat-f81e2.firebaseio.com</string>
</dict>
</plist>